@import "tailwindcss";

@theme {
  --color-primary-50: #f1fcf8;
  --color-primary-100: #d0f7ec;
  --color-primary-200: #a0efda;
  --color-primary-300: #69dfc4;
  --color-primary-400: #3ac7aa;
  --color-primary-500: #21ab91;
  --color-primary-600: #178a77;
  --color-primary-700: #166a5d;
  --color-primary-800: #17584f;
  --color-primary-900: #184942;
  --color-primary-950: #072c28;

  --font-header: "Open Sans";
  --font-paragraph: "Source Sans 3"
}

:root {
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #1a1a1e;
  --zinc-900: #18181b;
  --zinc-950: #09090b;
  --zinc-950: #0e0e11;
}

::-webkit-scrollbar {
    display: none;
}
